.bigButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
}

button:hover {
  cursor: pointer;
}

#startButton {
  font-size: 20px;
  text-shadow: 2px 2px lightslategray;
  font-weight: bold;
  margin-top: 10px;
  width: 90px;
  height: 90px;
  background-image: url("http://images6.fanpop.com/image/photos/38900000/Pokeball-pokemon-38912743-894-894.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 70%;
}

input {
  font-size: 30px;
  width: 100px;
}

#feed {
  background: linear-gradient(rgb(220, 0, 0), rgb(192, 0, 0));
}

#workout {
  background: linear-gradient(lightblue, rgb(50, 144, 187));
}

#nap {
  background: linear-gradient(rgb(147, 255, 114), rgb(71, 211, 28));
}

body {
  text-align: center;
}

#dead {
  display: none;
}

#pichu {
  display: none;
}

.hidden {
  display: none;
}

#pikachu {
  display: none;
}

#raichu {
  display: none;
}

#raichuOld {
  display: none;
}

img {
  width: 300px;
  height: 300px;
}

.progress-bar {
  margin: 2em auto;
  height: 20px;
  background: white;
  width: 500px;
  border: solid thin black;
}

.progress-bar .bar {
  -webkit-transition: width .1s;
  -moz-transition: width .1s;
  transition: width .1s;
  background: linear-gradient(rgb(220, 0, 0), rgb(192, 0, 0));
  background: linear-gradient(rgb(220, 0, 0), rgb(192, 0, 0));
  background: linear-gradient(rgb(220, 0, 0), rgb(192, 0, 0));
  position: absolute;
  height: 20px;
  width: 500px;
}

.progress-bar2 {
  margin: 2em auto;
  height: 20px;
  background: white;
  width: 500px;
  border: solid thin black;
}

.progress-bar2 .bar2 {
  -webkit-transition: width .1s;
  -moz-transition: width .1s;
  transition: width .1s;
  background: linear-gradient(lightblue, rgb(50, 144, 187));
  background: linear-gradient(lightblue, rgb(50, 144, 187));
  background: linear-gradient(lightblue, rgb(50, 144, 187));
  position: absolute;
  height: 20px;
  width: 500px;
}

.progress-bar3 {
  margin: 2em auto;
  height: 20px;
  background: white;
  width: 500px;
  border: solid thin black;
}

.progress-bar3 .bar3 {
  -webkit-transition: width .1s;
  -moz-transition: width .1s;
  transition: width .1s;
  background: linear-gradient(rgb(147, 255, 114), rgb(71, 211, 28));
  background: linear-gradient(rgb(147, 255, 114), rgb(71, 211, 28));
  background: linear-gradient(rgb(147, 255, 114), rgb(71, 211, 28));
  position: absolute;
  height: 20px;
  width: 500px;
}